@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/marioBackground.jpg');
}

.game-board {
  width: 80vw;
  height: 500px;
  border-bottom: 15px solid rgb(6, 95, 6);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(0, 217, 255), #cce3e4);
  margin-bottom: 0.5rem;
  border-radius: 15px;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0px;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  width: 550px;
  position: absolute;
  animation: clouds-animation 20s infinite linear;
}
/* .info {
    text-align: center;
    display: block;
} */

.english-container {
  font-family: 'Rock Salt', cursive;
  font-size: 9px;
  background: linear-gradient(rgb(202, 173, 169), blue);
  margin: 0 auto;
  width: 60vw;
  color: #fff;
  border-radius: 20%;
  text-align: center;
}
.portugueese-container {
  font-size: 9px;
  font-family: 'Rock Salt', cursive;
  background: linear-gradient(rgb(192, 189, 14), rgb(0, 255, 21));
  margin: 0 auto;
  width: 60vw;
  color: #fff;
  border-radius: 20%;
  text-align: center;
}

.text-english {
  color: ;
}
@keyframes pipe-animation {
  from {
    right: 0;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}
